body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
}

.nav-links {
    margin-right: 10px; /* Move the login and sign up closer to the toggle button */
}

.navbar {
    z-index: 1000; 
}


.hero-section {
    background-color: #A8E6CF; 
    padding: 30px 20px;
    color: black; /* Yellow text color */
    text-align: center;
    margin-top: 16px; /* Offset for navbar height */
    width: 696px;
}

.hero-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.search-bar {
    width: 400px; /* Adjust width as needed */
}

.recipe-of-the-day{
    margin: 10px 20px;
    text-align: center;
}

.recipe-card {
    background-image: "ima";
    background-color: #FFFFFF; /* White background for the card */
    border: 2px solid lightgreen; /* Light green border */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Limit card width */
    margin-top: 30px; /* Adjust margin */
}

.recipe-image {
    width: 100%; /* Responsive image */
    border-radius: 8px;
}

.recipe-title {
    font-size: 1.5rem;
    margin: 15px 0;
}

.recipe-description {
    margin-bottom: 20px;
}

.btn-light {
    background-color: #FF9800; /* Orange button */
    color: white;
    margin: 5px;
}

.btn-light:hover {
    background-color: #ff5722; /* Darker shade on hover */
}

.popular-categories {
    background-color: white;
    border: 1px solid lightgreen;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: absolute;
    top: 316px;
    width: 735px;
    height: 380px;
    left: 397px;
}

.category-card {
    margin-bottom: 20px;
    justify-content: center;
}

.category-card img {
    width: 100%;
    height: 258px;
    border-radius: 8px;
}

.category-card h4 {
    font-size: 1.2rem;
    margin-top: 10px;
}
